@{
    ViewBag.Title = "No Data Found";
}

<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">No Data Found</h4>
    <p>@ViewBag.ErrorMessage</p>
    <hr>
    <p class="mb-0">
        Unfortunately, we could not find any employee summaries to display. Please check back later or contact support if you believe this is an error.
    </p>
</div>

